<div class="content">
  <p class="fs-1 text-center m-5">
    Login
  </p>

  <div class="d-flex flex-row me-auto justify-content-center align-items-center">
    <form (ngSubmit)="login()" class="login-form">
      <div class="d-flex flex-column mb-1">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email-input" placeholder="name@example.com"
            [(ngModel)]="loginForm.email" name="email" required>
          <label for="email-input">Email address</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password-input" placeholder="Password"
            [(ngModel)]="loginForm.password" name="password" required>
          <label for="password-input">Password</label>
        </div>
      </div>
      <div class="d-flex flex-column mb-3">
        <div class="d-flex align-items-baseline">
          <button type="submit" class="btn btn-primary">Log in</button>

          <span class="m-3">
            <a href="#" class="btn btn-link ">Forgot password?</a>
          </span>
        </div>
      </div>
      <div class="d-flex flex-column">
        <span class="no-account">
          <a [routerLink]="['/', 'account']" class="btn btn-link">No account?</a>
        </span>
      </div>
    </form>
  </div>
</div>
